<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSbP_Lc8ml0MHnWWwqQHqha0ghj_8xzPI</string>
	<key>GCM_SENDER_ID</key>
	<string>849090527008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.spotlease.com</string>
	<key>PROJECT_ID</key>
	<string>spotlease-387206</string>
	<key>STORAGE_BUCKET</key>
	<string>spotlease-387206.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849090527008:ios:6c5e026ed1f9eae4c6e145</string>
</dict>
</plist>